.side-bar
  -# サイドバーヘッダー部分
  .side-bar__user-name
    .side-bar__user-name__header
      .side-bar__user-name__header__name
        = current_user.name
      .side-bar__user-name__header__icon-box
        = link_to new_group_path, class: "side-bar__user-name__header__icon-box__icon" do
          = icon("far", "edit")
        = link_to edit_user_path(current_user), class: "side-bar__user-name__header__icon-box__icon" do
          = icon("fas", "cog")
  -# サイドバーコンテンツ部分
  .side-bar__group-list
    - current_user.groups.each do |group|
      .side-bar__group-list__box
        = link_to group_messages_path(group) do
          .side-bar__group-list__box__group-name
            = group.name
          .side-bar__group-list__box__group-message
            = group.show_last_message